.message {
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;

  .message-info {
    padding: 20px 20px 20px 10px;

    .message-timestamp {
      color: #7b7c85;
      margin-left: 20ox;
      font-size: 16px;
    }
  }


}